<div class="outputbox">

    <table class="table table-hover tb" id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col" style="text-align: center;">#</th>
                <th scope="col" style="padding-left:10px;">Dated</th>
                <th scope="col" style="padding-left:10px;">Weight</th>
                <th scope="col" style="padding-left:10px;">Height</th>
                <th scope="col" style="text-align: center;">BMI</th>
                <th scope="col" style="text-align: center;">Status</th>
            </tr>
        </thead>
        <% var index=Object.keys(userdata).length;%>

            <% userdata.slice().reverse().forEach((data)=>{ %>

                <tr class="bg-primary ">
                    <tbody>
                        <tr class=<%=data.cvalue%>>
                            <th scope="row" style="text-align: center;">
                                <%=index%>
                            </th>
                            <td style="padding-left:10px;">
                                <%=data.date%>
                            </td>
                            <td style="padding-left:10px;">
                                <%=data.weigth%>
                            </td>
                            <td style="padding-left:10px;">
                                <%=data.heigth%>
                            </td>
                            <td style="text-align: center;">
                                <%=data.bmi%>
                            </td>
                            <td style="text-align: center;">
                                <img src="images\<%=data.ivalue%>.png" width="30" height="30" alt="Responsive image">
                            </td>
                        </tr>
                        <% index=index-1;%>
                            <% }); %>
                    </tbody>
    </table>
</div>