<%- include('partials/header.ejs'); -%>
  <br>
  <h3>Welcome <%= username.substring(0, username.indexOf('@'));%>
  </h3>
  <br>

  <%- include('partials/Calculator.ejs'); -%>
    <%- include('partials/output.ejs'); -%>
      <%- include('partials/footer.ejs'); -%>